.confirmContent {
    padding: 1.5rem;
    max-height: 600px;
    overflow-y: auto;
}

.action button {
    background: unset;
    border: unset;
    outline: unset;
    resize: unset;
    padding: 12px 16px 12px 16px;
    border-radius: 10px;
}

.action button:first-child {
    background-color: var(--BtnBG);
    color: var(--BtnText);
}

.action button:last-child {
    background-color: #F01111;
    color: #E4EDFD;
}