.profile {
    display: flex;
    gap: 10px;
}

.profile p {
    margin: 0;
}

.profile img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.icons *{
    cursor: pointer;
    font-size: 20px;
}